<header>
  <a class="menuLink"></a>
  <div class="container">
    <a class="logo">
      <img src="assets/images/neo-logosm.png" />
    </a>

    <div class="headerRight">
      <a class="btn_addnew">Add New</a>
      <div class="diver"></div>

      <div class="proBox">
        <div class="proBoxLeft">
          <span>Welcome RM</span>
          <strong>Pravin Jain</strong>
        </div>
        <div class="proBoxRight">
          <img src="assets/images/proImg.png" />
        </div>
      </div>
    </div>
  </div>
</header>
