<div class="sticky">
  <app-common-header></app-common-header>
  <div class="pageheader">
    <div class="pageheaderDashHead">
      <div class="container d-flex align-items-center justify-content-between">
        <h1>Place Order</h1>
      </div>
    </div>
  </div>
</div>

<div class="placeOrderModule mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 pt-4">
        <div class="orderType">
          <h2 class="mb-3 font-size-18">Order Type</h2>
          <div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link btn-sm active" id="pills-nse-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-nse" type="button" role="tab" aria-controls="pills-nse" aria-selected="true">
                  ICD
                </button>
              </li>
            </ul>
          </div>

          <!-- PMS radio button -->
          <div class="mt-2">
            <!-- Fixed Deposit -->
            <div class="form-check ms-0">
              <input type="radio" name="productTypeRadioButton" class="form-check-input buyBtn" id="flexRadioDefault54"
                value="ICD taken" [(ngModel)]="selectedProductRadioButton" (change)="onProductTypeRadioChange()" />
              <label class="form-check-label" for="flexRadioDefault54">
                ICD taken
              </label>
            </div>


            <div class="form-check ms-0">
              <input type="radio" name="productTypeRadioButton" class="form-check-input buyBtn" id="flexRadioDefault54"
                value="ICD Given" [(ngModel)]="selectedProductRadioButton" (change)="onProductTypeRadioChange()" />
              <label class="form-check-label" for="flexRadioDefault54">
                ICD Given
              </label>
            </div>
          </div>

          <!-- Buy redemption -->
          <div class="mt-2">

            <div class="form-check ms-0">
              <input type="radio" name="productTypeRadioButton1" class="form-check-input buyBtn"
                id="flexRadioDefault541" value="BUY" [(ngModel)]="selectedICDRadioButton"
                (change)="onICDTypeRadioChange()" />
              <label class="form-check-label" for="flexRadioDefault541">
                <img src="../../../assets/images/Buy.svg" alt="proImg" class="radio-img" />
                BUY
              </label>
            </div>

            <!-- ICD -->
            <div class="form-check">
              <input type="radio" name="productTypeRadioButton1" class="form-check-input sellBtn"
                id="flexRadioDefault551" value="REDEMPTION" [(ngModel)]="selectedICDRadioButton"
                (change)="onICDTypeRadioChange()" />
              <label class="form-check-label" for="flexRadioDefault551">
                <img src="../../../assets/images/pre-mature-withdrawal.png" alt="proImg" class="radio-img" />
                REDEMPTION
              </label>
            </div>

          </div>

          <!-- redemption sub menu -->
          <div class="mt-2">

            <div class="form-check ms-0">
              <input type="radio" name="productTypeRadioButton1" class="form-check-input buyBtn"
                id="flexRadioDefault54112" value="Full redemption" [(ngModel)]="selectedRedemtionRadioButton"
                (change)="onRedemtionTypeRadioChange()" />
              <label class="form-check-label" for="flexRadioDefault54112">
                <img src="../../../assets/images/pre-mature-withdrawal.png" alt="proImg" class="radio-img" />
                Full redemption
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="productTypeRadioButton1" class="form-check-input sellBtn"
                id="flexRadioDefault55121" value="Partly Redemption" [(ngModel)]="selectedRedemtionRadioButton"
                (change)="onRedemtionTypeRadioChange()" />
              <label class="form-check-label" for="flexRadioDefault55112">
                <img src="../../../assets/images/pre-mature-withdrawal.png" alt="proImg" class="radio-img" />
                Partly Redemption
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="productTypeRadioButton1" class="form-check-input sellBtn"
                id="flexRadioDefault55121" value="Roll Over" [(ngModel)]="selectedRedemtionRadioButton"
                (change)="onRedemtionTypeRadioChange()" />
              <label class="form-check-label" for="flexRadioDefault55112">
                <img src="../../../assets/images/pre-mature-withdrawal.png" alt="proImg" class="radio-img" />
                Roll Over
              </label>
            </div>

          </div>

          <div class="orderTypeInputModule mt-3">
            <form>
              <div class="row formList">
                <div class="col-6 mb-3">
                  <mat-form-field class="form-control form-select" appearance="fill">
                    <mat-label> ICD Name </mat-label>
                    <input type="text" matInput />
                    <mat-autocomplete>
                      <mat-option value="One">One</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Banker Name <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> CSO Name <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span class="floating-label">
                      Date of ICD <span class="mandatory1">*</span>
                    </span>
                    <mat-form-field appearance="fill">
                      <input #fromDateInput matInput [matDatepicker]="fromDatePicker" class="form-control"
                        placeholder="DD-MM-YYYY" />
                      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #fromDatePicker></mat-datepicker>
                    </mat-form-field>
                  </label>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span class="floating-label">
                      Date of Maturity <span class="mandatory1">*</span>
                    </span>
                    <mat-form-field appearance="fill">
                      <input #fromDateInput matInput [matDatepicker]="fromDatePicker" class="form-control"
                        placeholder="DD-MM-YYYY" />
                      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #fromDatePicker></mat-datepicker>
                    </mat-form-field>
                  </label>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span class="floating-label">
                      Actual Redemption Date <span class="mandatory1">*</span>
                    </span>
                    <mat-form-field appearance="fill">
                      <input #fromDateInput matInput [matDatepicker]="fromDatePicker" class="form-control"
                        placeholder="DD-MM-YYYY" />
                      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #fromDatePicker></mat-datepicker>
                    </mat-form-field>
                  </label>
                </div>
              </div>

              <div class="row formList">
                <div class="col-4 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Value of ICD <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                  <div class="mt-2 fw-500 font-size-12">Rupees in words: </div>
                </div>
              </div>

              <div class="row formList">
                <div class="col-4 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Value of ICD <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                  <div class="mt-2 fw-500 font-size-12">Rupees in words: </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Interest <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                  <div class="mt-2 fw-500 font-size-12">Rupees in words: </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Total Value of Redemption <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                  <div class="mt-2 fw-500 font-size-12">Rupees in words: </div>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> ROI ICD <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Rate of Banker <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Total Rate <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-controlMain form-controlMain2">
                    <span> Frequency <span class="mandatory1">*</span> </span>
                    <input type="text" class="form-control" />
                  </label>
                </div>
                <div class="col-md-3 col-lg-3 mb-3">
                  <label class="form-controlMain mb-3 form-controlMain2">
                    <span>PDS</span>
                  </label>
                  <div class="form-check ms-0">
                    <input class="form-check-input" type="radio" name="taxtype" formControlName="taxtype" value="NA"
                      id="flexRadioDefaultNA" />
                    <label class="form-check-label" for="flexRadioDefaultNA">
                      Yes
                    </label>
                  </div>
                  <div class="form-check ms-0 me-0">
                    <input class="form-check-input" type="radio" name="taxtype" formControlName="taxtype" value="TDS"
                      id="flexRadioDefaultTDS" />
                    <label class="form-check-label" for="flexRadioDefaultTDS">
                      No
                    </label>
                  </div>
                </div>
              </div>

              <div class="commonBtn mt-3">
                <button class="btnSubmit" id="filterSubmit">
                  Submit
                </button>
                <button class="btnRest">Reset</button>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <app-side-panel-common></app-side-panel-common>
      </div>
    </div>
  </div>
</div>

<app-common-footer></app-common-footer>